UWIC.FinalProject.Common/Service References/svcUpdateService/WebBrowserUpdateService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://prabash-lap/VewBrowserServicePublish/WebBrowserUpdateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://prabash-lap/VewBrowserServicePublish/WebBrowserUpdateService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CheckForUpdates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="currentVersion" nillable="true" type="q1:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForUpdatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CheckForUpdatesResult" nillable="true" type="q2:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>